@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body._lock {
  overflow: hidden;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/
/* ***********************
table of contents
- header  
- nav menu
************************* */
body {
  font-family: Arial, sans-serif;
}

/* header */
.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 100%;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #ffa;
}

.conteiner {
  max-width: 1200px;
  margin: 0px auto;
  padding: 0px 15px;
}

.header {
  background-color: #808080;
}

.header__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 80px;
}

.header__logo {
  border-radius: 50%;
  background-color: #ffa;
  width: 4vw;
  height: 4vw;
  min-width: 50px;
  min-height: 50px;
  text-align: center;
  z-index: 3;
}

/* ******************
      nav menu
   ***************** */
.nav__li {
  position: relative;
}

.nav__li a {
  margin: 0px 0px 0px 20px;
  color: #fff;
}

.menu__icon {
  display: none;
  z-index: 3;
}

.menu__link:hover {
  text-decoration: underline;
}

.menu__sublist {
  position: absolute;
  top: 100%;
  right: 0;
  background-color: black;
  padding: 15px;
  min-width: 230px;
}

.menu__sublist li {
  margin: 0px 0px 10px 0px;
}

.menu__sublist li:last-child {
  margin: 0px;
}

.menu__sublink:hover {
  text-decoration: underline;
}

.menu__arrow {
  display: none;
}

/* ******************
   На PC
   *****************/
body._pc .nav__ul > li:hover .menu__sublist {
  opacity: 1;
  visibility: visible;
  -webkit-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
  pointer-events: all;
}

/* ******************
   На Mobile
   *****************/
body._touch .nav__ul > li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body._touch .menu__link {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

body._touch .menu__arrow {
  display: block;
  width: 0;
  height: 0;
  margin: 0px 0px 0px 5px;
  -webkit-transition: -webkit-transform 0.3s ease 0s;
  transition: -webkit-transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 10px solid #fff;
}

body._touch .nav__ul > li._active .menu__sublist {
  opacity: 1;
  visibility: visible;
  -webkit-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
  pointer-events: all;
}

body._touch .nav__ul > li._active .menu__arrow {
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

/* ******************
      content 
****************** */
.info p {
  margin-top: 45px;
  font-size: calc(18px + 2 * (100vw / 1200));
}

.content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.content__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  line-height: 18px;
}

.content__column-top {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 33.333%;
          flex: 1 1 33.333%;
  margin: 30px -10px 0px -10px;
}

.content__column-bottom {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
  margin-top: 15px;
}

.content__item {
  padding: 0px 15px;
}

.item__title {
  margin: 15px 0px;
  text-align: center;
  font-size: calc(18px * (100vw / 1200));
}

.item__text p {
  margin-bottom: 10px;
}

.item__text p:last-child {
  margin-bottom: 0px;
}

/* footer */
.footer {
  background-color: #808080;
}

.footer__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 60px;
}

/* ********************************
               Media
******************************** */
@media (min-width: 767px) {
  .nav__ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .nav__li a {
    margin: 0px 0px 0px 20px;
    color: #fff;
    font-size: calc(16px + 8 * (100vw / 1200));
  }
  .menu__sublist {
    -webkit-transform: translate(0px, 10%);
            transform: translate(0px, 10%);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
}

@media (max-width: 767px) {
  .menu__icon {
    z-index: 5;
    display: block;
    position: relative;
    width: 30px;
    height: 18px;
    cursor: pointer;
  }
  .menu__icon span,
  .menu__icon::before,
  .menu__icon::after {
    position: absolute;
    left: 0;
    height: 10%;
    width: 100%;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    background-color: #fff;
  }
  .menu__icon::before,
  .menu__icon::after {
    content: "";
  }
  .menu__icon::before {
    top: 0;
  }
  .menu__icon::after {
    bottom: 0;
  }
  .menu__icon span {
    top: 50%;
    -webkit-transform: scale(1) translate(0px, -50%);
            transform: scale(1) translate(0px, -50%);
  }
  .menu__icon._active span {
    -webkit-transform: scale(0) translate(0px, -50%);
            transform: scale(0) translate(0px, -50%);
  }
  .menu__icon._active::before {
    top: 50%;
    -webkit-transform: rotate(-45deg) translate(0px, -50%);
            transform: rotate(-45deg) translate(0px, -50%);
  }
  .menu__icon._active::after {
    bottom: 50%;
    -webkit-transform: rotate(45deg) translate(0px, 50%);
            transform: rotate(45deg) translate(0px, 50%);
  }
  .nav__ul {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    padding: 100px 30px 30px 30px;
    -webkit-transition: left 0.3s ease 0s;
    transition: left 0.3s ease 0s;
    overflow: auto;
  }
  .nav__ul::before {
    content: "";
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    height: 80px;
    background-color: #808080;
    z-index: 2;
  }
  .nav__ul._active {
    left: 0;
  }
  .nav__ul > li {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 0px 0px 30px 0px;
  }
  .nav__ul > li:last-child {
    margin-bottom: 0px;
  }
  .nav__ul > li._active .menu__sublist {
    display: block;
  }
  .nav__li a {
    font-size: calc(16px + 8 * (100vw / 1200));
  }
  .menu__sublist {
    position: relative;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
    background-color: #fff;
    margin: 20px 0px 0px 0px;
    display: none;
  }
  .menu__sublist li a {
    font-size: calc(16px + 4 * (100vw / 1200));
    color: black;
  }
}
